<!DOCTYPE html>
<html>
  <head>
    <title>Contact Us</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"></link>
  </head>
  <body>
    <div id="main">
      <div id="header">Stock Market Analysis and Portfolio Management</div>
	  <%- navbar %>
	  <div id="welcome">
		<h3>Welcome</h3>
		<p id="name"><%= firstName %> <%= lastName %></p>
		<p id="email"><%= email %></p>
	  </div>
	  <%- logout %>
	  <div id="static">
		<p> Chayan Gulati </p>
		<p>	Bharati Vidyapeeth's College of Engineering </p>
		<p> E-Mail: gulatichayan@gmail.com </p>
		<p>	Phone: 8447717250 </p>
	  </div>
	  <div id="footer">&copysmapm.com</div>
	  <div id="extra"></div>
	 </div>
  </body>
 </html>